<app-layout>
  <!--Card principal-->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"> Buscar Produto</h5>

      <!--Linha Formulário-->
      <div class="row">
        <div class="form-group col-lg-12">
          <label for="nome" class="control-label">Nome:</label>
          <input type="text" class="form-control" [(ngModel)]="produto.nome">
        </div>

        <!--Botões de pesquisa-->
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-primary" style="margin-left: 15px;" (click)="pesquisarProduto()" >Buscar</button>
            <button type="button" class="btn btn-primary" style="margin-left: 15px;" (click)="pesquisarTodosProdutos()" >Buscar todos</button>
            <button type="button" class="btn btn-primary" style="margin-left: 15px;" (click)="fecharPesquisa()" >Fechar busca</button>
          </div>
        </div>
      </div>
      <br>

    <!--card da tabela-->
    <div class="card">
        <div class="card-body">
          <!--tabela cliente-->
          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>Codigo</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Observação</th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let produto of listProduto">
                <td><input type="radio" name="selecionado" (change)="selecionar(produto)"/></td>
                <td>{{produto.codigo}}</td>
                <td>{{produto.nome}}</td>
                <td>{{produto.descricao}}</td>
                <td>{{produto.valor | currency: 'R$'}}</td>
                <td>{{produto.observacao}}</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>

    <br>

    <!--Botões incluir, alterar e excluir-->
    <div class="row">
        <div class="col-lg-12">
          <button type="button" class="btn btn-primary" (click)="incluirProduto()" >Incluir</button>
          <button type="button" class="btn btn-primary" style="margin-left: 8px;" (click)="alterarProduto()" >Alterar</button>
          <button type="button" class="btn btn-primary" style="margin-left: 8px;" (click)="removerProduto()" >Excluir</button>
        </div>
      </div>

      <!--fechamento do card principal-->
    </div>
  </div>
</app-layout>

