<app-layout>
  <!--Card-->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"> Buscar Cliente</h5>

      <!--Linha Formulário-->
      <div class="row">
        <div class="form-group col-lg-12">
          <label for="nome" class="control-label">Nome:</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.nome">
        </div>
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-primary" style="margin-left: 15px;" (click)="pesquisarCliente()">Buscar</button>
            <button type="button" class="btn btn-primary" style="margin-left: 15px;" (click)="pesquisarTodosClientes()">Buscar todos</button>
            <button type="button" class="btn btn-primary" style="margin-left: 15px;" (click)="fecharPesquisa()">Fechar
              busca</button>
          </div>
        </div>
      </div>

      <br>

      <!--tabela cliente-->
      <div class="card">
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>Codigo</th>
                <th>Nome</th>
                <th>Endereço</th>
                <th>Cidade</th>
                <th>Cep</th>
                <th>UF</th>
                <th>Telefone</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cliente of listCliente">
                <td><input type="radio" name="clienteSelecionado" (change)="selecionarCliente(cliente)" /></td>
                <td>{{cliente.codigo}}</td>
                <td>{{cliente.nome}}</td>
                <td>{{cliente.endereco}}</td>
                <td>{{cliente.cidade}}</td>
                <td>{{cliente.cep}}</td>
                <td>{{cliente.uf}}</td>
                <td>{{cliente.telefone}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <br>

      <!--botões de incluir, alterar, excluir-->
      <div class="row">
        <div class="col-lg-12">
          <button type="button" class="btn btn-primary" (click)="incluirCliente()">Incluir</button>
          <button type="button" class="btn btn-primary" style="margin-left: 8px;" (click)="alterarCliente()">Alterar</button>
          <button type="button" class="btn btn-primary" style="margin-left: 8px;" (click)="removerCliente()">Excluir</button>
        </div>
      </div>

      <!--fechamento do card-->
    </div>
  </div>
</app-layout>
